@font-face {
	font-family: "Roboto";
	src: local("Roboto"),
		url("~@/assets/fonts/robotoregular.woff2") format("woff2"),
		url("~@/assets/fonts/robotoregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}