$body-background: #E3E3E3;
$basic-white: #FFFFFF;
$basic-black: #000000;
$label-text: #CCCCCC;
$primary: #7B61FF;
$primary-hover: #8A73FF;
$primary-active: #715BE3;
$text-color: #333333;
$success: #5EE48C;
$success-hover: #80F0A6;
$success-active: #4BD379;
$inner-shadow: #B5B5B5;
$error: #FF6161;
$error-hover: #FF8080;
$error-active: #D65D5D;
$default: #F4F4F4;
$default-hover: #E1E1E1;
$default-active: #CFCFCF;
$disabled: #B5B5B5;
$type-task: #00D1FF;
$type-bug: #EB4F4F;
$priority-low: #3CA961;
$priority-medium: #E9B500;
$priority-high: #D14343;
$input-item-hover: #E6E1FF;
$even-item-color: #F2F2F2;
$bg-inProgress: #FFC700;
$color-inProgress: #846F00;
$color-complete: #157536;
$bg-complete: #4BD379;

$row-height: 64px;

$main-font: 'Roboto',
	Arial,
	sans-serif;

$board-heading-font: 'RobotoLight',
	Arial,
	sans-serif;

$input-font: 'Inter',
	Arial,
	sans-serif;

$tabs-font: 'Open Sans',
	Arial,
	sans-serif;